.keyboard {
  @apply flex flex-col gap-2;
}

.numbers {
  @apply -m-4 flex gap-2 overflow-x-auto p-4;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @screen sm {
    @apply m-0 grid w-full grid-cols-6 gap-2 overflow-visible p-0;
  }
}

.number {
  @apply relative h-14 w-14 flex-none;

  @screen sm {
    @apply col-span-2 h-auto w-16 pb-[100%];
  }

  @screen xl {
    @apply w-auto;
  }

  &_half {
    @apply col-span-3 w-full pb-[40%];

    .button {
      @apply text-2xl;
    }
  }
}

.keys {
  @apply flex justify-between gap-2;
}

.key {
  @apply relative h-14 w-full max-w-[10rem];
}

.button {
  @apply absolute top-0 left-0 flex h-full w-full items-center justify-center rounded-lg bg-white text-xl font-light text-blue-500;
  @apply drop-shadow-[0_4px_8px_rgba(5,74,183,0.1)];

  @screen xl {
    @apply text-3xl drop-shadow-[0_8px_16px_rgba(5,74,183,0.2)];
  }

  &:hover {
    @apply bg-slate-50;
  }

  &:active {
    @apply bg-slate-100;
  }

  &:disabled {
    @apply pointer-events-none bg-slate-100 text-blue-400;
  }
}
